@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html,
body {
   font-family: 'Poppins', sans-serif;
}

body {
   background-color: rgb(187, 187, 187);
   margin: 0%;
}

h2 {
   text-decoration: none;
   color: black;
}


nav {
   display: flex;
   justify-content: space-between;
   background-color: #e2e2e2;
   box-shadow: 3 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
   padding: 0.6% 2%;
}

#brandlogo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 12px;
   align-content: center;
   flex-wrap: nowrap;
   flex-direction: row;
   text-decoration: none;
   color: blueviolet;
}

li,
li a {
   text-decoration: none;
   list-style-type: none;
   gap: 30px;
   font-weight: bold;
   color: black;
}

li a:hover {
   color: blueviolet;
   transition: all .3s ease-in-out;
}


#avatar {
   display: flex;
   width: 60px;
   height: 60px;
   border-radius: 100%;
   border: 4px solid black;
   justify-content: end;
   align-items: centers;
   gap: 15px;
}


ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 25px;
   color: black;
}

.button {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 12px;
   align-content: center;
   flex-wrap: nowrap;
   flex-direction: row;
   text-decoration: none;
   color: blueviolet;
   border-radius: 8px;
   width: fit-content;
   padding: 8px 16px;
   border: 2px solid blueviolet;
   transition: all .3s ease-in-out;
   font-weight: bold;
   -webkit-animation: wobble-hor-bottom 0.8s both;
   animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {

   0%,
   100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
   }

   15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
      transform: translateX(-30px) rotate(-6deg);
   }

   30% {
      -webkit-transform: translateX(15px) rotate(6deg);
      transform: translateX(15px) rotate(6deg);
   }

   45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
      transform: translateX(-15px) rotate(-3.6deg);
   }

   60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
      transform: translateX(9px) rotate(2.4deg);
   }

   75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
      transform: translateX(-6px) rotate(-1.2deg);
   }
}

@keyframes wobble-hor-bottom {

   0%,
   100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
   }

   15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
      transform: translateX(-30px) rotate(-6deg);
   }

   30% {
      -webkit-transform: translateX(15px) rotate(6deg);
      transform: translateX(15px) rotate(6deg);
   }

   45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
      transform: translateX(-15px) rotate(-3.6deg);
   }

   60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
      transform: translateX(9px) rotate(2.4deg);
   }

   75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
      transform: translateX(-6px) rotate(-1.2deg);
   }
}

.button.primary {
   background: blueviolet;
   color: white;
}

.buttons-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.button.primary:hover {
   background: rgb(169, 121, 214);
   border-color: rgb(169, 121, 214);
}

h1 {
   display: flex;
   font-size: 55px;
   text-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
   justify-content: center;
   flex-wrap: wrap;
   margin: 6%;

   -webkit-animation: text-shadow-drop-bottom 3s both;
   animation: text-shadow-drop-bottom 3s both;
}

@-webkit-keyframes text-shadow-drop-bottom {
   0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
   }

   100% {
      text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
   }
}

@keyframes text-shadow-drop-bottom {
   0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
   }

   100% {
      text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
   }
}

.wobble-hor-bottom {
   -webkit-animation: wobble-hor-bottom 0.8s both;
   animation: wobble-hor-bottom 0.8s both;
}

article {
   display: flex;
   width: 10px;
   height: 10px;
   border-radius: 3%;
   background-color: #e2e2e2;
   padding: 30%;
   gap: 25px;
   flex-wrap: nowrap;
   flex-direction: row;
   background-size: cover;
   background-position: center;
   overflow: hidden;
}

section {
   size: 30%;
}